# Active Users Analysis with Google Bigquery

This notebook would be a great example of how to combine SQL, Python and Tableau to solve complex business problems.

## Dataset Overview
[Stack Overflow](https://cloud.google.com/bigquery/public-data/stackoverflow) is the largest online community for programmers to learn, share their knowledge, and advance their careers. Updated on a quarterly basis, this BigQuery dataset includes an archive of Stack Overflow content, including posts, votes, tags, and badges. This dataset is updated to mirror the Stack Overflow content on the Internet Archive, and is also available through the Stack Exchange Data Explorer.

## Business Questions
1. How many active users each month, and who are they?
2. Could we also show active users' engagement type to understand their behaviour better?
3. Are our active users new user or returning user?

## Brief
This notebook will show you how to connect with Google Bigquery and run your SQL code on python. Also, you can also learn how to 
export what you get from SQL to a hyper file which can be opened by Tableau directly. Finally, you will have a understanding of my SQL proficiency!

In [1]:
import numpy as np
import pandas as pd
from pandas.io import gbq

In [226]:
#This is your Bigquery project id, you can go to your Bigquery to check it.
#Please refer https://moderndata.plot.ly/using-google-bigquery-with-plotly-and-pandas/ 
#!pip install pandas-gbq
project_id = 'genuine-grid-181503'

## Data Loading

In [ ]:
# Since the dataset is too large to run complex sql queries, here we only load 100 records.

In [19]:
posts_questions = """
SELECT
    *
FROM
  `bigquery-public-data.stackoverflow.posts_questions`

LIMIT
  100
"""

In [20]:
posts_answers = """
SELECT
    *
FROM
  `bigquery-public-data.stackoverflow.posts_answers`

LIMIT
  100
"""

In [30]:
comments = """
SELECT
    *
FROM
  `bigquery-public-data.stackoverflow.comments`

LIMIT
  100
"""

In [103]:
users = """
SELECT
    *
FROM
  `bigquery-public-data.stackoverflow.users` 

LIMIT
  100
"""

In [34]:
#Run those quesries on google bigquery and load the data into dataframe
comments_df = gbq.read_gbq(comments, project_id=project_id,dialect = "standard")
posts_answers_df = gbq.read_gbq(posts_answers, project_id=project_id,dialect = "standard")
posts_questions_df = gbq.read_gbq(posts_questions, project_id=project_id,dialect = 'standard')
users = gbq.read_gbq(users, project_id=project_id,dialect = 'standard')

C:\Users\Mengyu\Anaconda3\lib\site-packages\pandas_gbq\gbq.py:798: FutureWarning: verbose is deprecated and will be removed in a future version. Set logging level in order to vary verbosity
  "verbosity", FutureWarning, stacklevel=1)

In [ ]:
#Then let's take a look at the data

In [37]:
comments_df.head()

,id,text,creation_date,post_id,user_id,user_display_name,score
0,50232955,`json.keys()` will give you fileds of your class.,2015-06-29 06:52:25.147,30938884,2823164,,0
1,5733229,"MiffTheFox: I'm talking about autoloading, not...",2011-02-25 02:51:17.527,5112964,388916,,1
2,59596181,Microsoft.mshtml.dll is an ancient assembly an...,2016-03-13 13:52:45.057,35969898,17034,,0
3,72357806,"Edited my answer, missed the actual problem.",2017-03-05 21:47:57.003,42613986,3476154,,0
4,67742655,Glad to help. Remember that if you found diffe...,2016-10-25 12:48:47.883,40239896,4323648,,0

In [38]:
posts_answers_df.head()

,id,body,comment_count,community_owned_date,creation_date,last_activity_date,last_edit_date,last_editor_display_name,last_editor_user_id,owner_display_name,owner_user_id,parent_id,post_type_id,score,tags
0,36721985,<p>To follow up on a comment I made on the acc...,0,NaT,2016-04-19 14:52:35.727,2016-04-19 14:52:35.727,NaT,,None,,1638871,17623523,2,0,
1,20383045,<p>Most of the widgets you create have a paren...,1,NaT,2013-12-04 18:27:49.150,2013-12-04 18:27:49.150,NaT,,None,,7432,20382223,2,1,
2,17700770,<p>Actually my defaultDataSource bean was decl...,0,NaT,2013-07-17 13:13:27.393,2013-07-17 13:13:27.393,NaT,,None,,2584126,17676879,2,0,
3,1604952,"<p><a href=""http://docs.google.com/Doc?docid=a...",0,NaT,2009-10-22 04:03:26.940,2009-10-22 04:03:26.940,NaT,,None,,81717,1604684,2,3,
4,15205962,<p>There is no direct way to identify the Acco...,0,NaT,2013-03-04 16:14:17.153,2013-03-04 16:14:17.153,NaT,,None,,1060762,15096822,2,2,

In [39]:
posts_questions_df.head()

,id,title,body,accepted_answer_id,answer_count,comment_count,community_owned_date,creation_date,favorite_count,last_activity_date,last_edit_date,last_editor_display_name,last_editor_user_id,owner_display_name,owner_user_id,post_type_id,score,tags,view_count
0,16355438,phpMyAdmin designer for showing specific table...,<p>I want to see the relations to the table <c...,16371602,1,0,NaT,2013-05-03 09:17:35.330,1,2014-02-06 16:59:23.737,2014-02-06 16:59:23.737,,998328,,1770460,1,1,phpmyadmin|designer,922
1,11058567,"In TPL, how do I override the execution context?",<p>How do I override the execution context whe...,11058818,1,3,NaT,2012-06-15 21:41:12.913,1,2012-06-15 22:12:39.480,2012-06-15 22:12:39.480,,41071,,5274,1,2,.net|task-parallel-library|executioncontext,298
2,45988257,Can someone detect error in this code to imple...,<p>I am trying to implement dijkstra's algorit...,None,1,0,NaT,2017-08-31 18:51:39.573,None,2017-08-31 19:40:04.050,NaT,,None,,4664178,1,0,python|algorithm|shortest-path|dijkstra,44
3,31336747,Communication JQuery and C#,<p>I'm trying to connect Chrome extension and ...,31957483,1,1,NaT,2015-07-10 09:06:29.013,1,2015-08-12 06:24:52.410,2017-05-23 11:44:35.903,,-1,,3828636,1,6,javascript|c#|jquery|google-chrome|communication,224
4,8170942,"Firefox Addon - install.rdf - What does the ""e...",<p>What does the <code>em</code> mean in </...,8171126,1,0,NaT,2011-11-17 16:44:34.137,None,2011-11-17 19:17:19.763,2011-11-17 19:17:19.763,,592746,,604383,1,4,xml|firefox|firefox-addon,281

In [105]:
users.head()

C:\Users\Mengyu\Anaconda3\lib\site-packages\pandas_gbq\gbq.py:798: FutureWarning: verbose is deprecated and will be removed in a future version. Set logging level in order to vary verbosity
  "verbosity", FutureWarning, stacklevel=1)

,id,display_name,about_me,age,creation_date,last_access_date,location,reputation,up_votes,down_votes,views,profile_image_url,website_url
0,964331,Peđa Terzić,,,2011-09-26 03:28:32.323,2018-01-17 07:28:45.413,"Podgorica , Montenegro",219,12,0,50,https://i.stack.imgur.com/evo5p.jpg?s=128&g=1,https://arxiv.org/find/math/1/au:+Terzic_P/0/1...
1,1869370,dogwynn,,,2012-12-01 21:07:04.290,2018-03-06 03:54:15.880,,158,6,0,20,,
2,1837779,user1837779,,,2012-11-20 05:37:38.690,2018-03-09 20:56:51.680,,155,87,0,40,,
3,4714252,Srdjan Nikitovic,,,2015-03-25 21:54:51.483,2018-03-07 13:09:37.490,,311,5,0,76,https://graph.facebook.com/965496480128700/pic...,
4,5432390,A Saxena,,,2015-10-11 02:19:30.083,2018-03-09 22:14:13.610,,45,8,0,26,https://www.gravatar.com/avatar/f4b2c90a6c41a4...,

## Using SQL to Get What You Need

### 1. How many active users each month, and who are they?

Here we define "active users" as people who write at least 1 comment, ask at least 1 question or give at least 1 answer at specific month.
<cd>We can use "Union distinct" function to get the active users' id and month.
<cd>I do try the pandasql to do this job on the dataframe we create above, but it misses some important functions of SQL such as date_trunc, so I will keep using google bigquery.

In [90]:
# This querry is to limit the whole dataset to 100 records so that we won't need to wait for too long, because the whole dataset is too large.
# We will use this query many times in the next steps. Just remember, query 1 limits the amount of data that we are dealing with.
query1 = """    
    with question as (
        SELECT
            *
            FROM
            `bigquery-public-data.stackoverflow.posts_questions`
            LIMIT
            100
        ),
        answer as (
        SELECT
            *
            FROM
            `bigquery-public-data.stackoverflow.posts_answers`

            LIMIT
            100
        ),
        comment as (
        SELECT
            *
            FROM
            `bigquery-public-data.stackoverflow.comments`
            LIMIT
            100

        )
"""

In [91]:
# This query is to select the distinct active users from tables in query1
query2 = """select distinct a.user_id, date_trunc(date(a.creation_date),month) month
from 
comment a
union distinct
select distinct b. owner_user_id, date_trunc(date(b.creation_date),month) month
from
answer  b
union distinct
select distinct c. owner_user_id, date_trunc(date(c.creation_date),month) month
from
question c
order by 
month, user_id"""

In [92]:
active = gbq.read_gbq(query1+query2, project_id=project_id,dialect = "standard")

C:\Users\Mengyu\Anaconda3\lib\site-packages\pandas_gbq\gbq.py:798: FutureWarning: verbose is deprecated and will be removed in a future version. Set logging level in order to vary verbosity
  "verbosity", FutureWarning, stacklevel=1)

In [93]:
active.head()

  user_id       month
0    2506  2008-09-01
1   51428  2009-01-01
2   54811  2009-02-01
3    8155  2009-05-01
4   24545  2009-05-01

In [128]:
active.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 2 columns):
user_id    299 non-null object
month      300 non-null object
dtypes: object(2)
memory usage: 4.8+ KB

### 2. Could we also show active users' engagement type to understand their behaviour better?

As we already know, active users might be post-qustion active, post_answer active or comment active. Obviously one user can belong to multiple types during a specific time, say, one month. Our job is to show the type of their engagement instead of just knowing who they are.

In [ ]:
# We can add some new codes based on what we have from the first question.

In [98]:
#Firstly, let's use with clause to save the result of the first question
query3 = query1 + \
"""
, table1 as (
select distinct a.user_id, date_trunc(date(a.creation_date),month) month
from 
comment a
union distinct
select distinct b. owner_user_id, date_trunc(date(b.creation_date),month) month
from
answer  b
union distinct
select distinct c. owner_user_id, date_trunc(date(c.creation_date),month) month
from
question c
order by 
month, user_id)



"""

In [100]:
#Then we can add new code for this question
#we can create a column that is filled with 1 in comment, answer and question tables, then left join those three tabels with our
#active table which we get from question 1,(I name it as table1 in the sql code). If there is no comment or answer or question
#for the specific user in specific month, the 1 column would be null. Then we can use ifnull function to convert null to 0.
#Finally, in the result table, 1 means active in that type, while 0 means non active.

query4 = \
"""
select table1.*, ifnull(a1.comment_flag,0) comment_flag , ifnull(b1.answer_flag,0) answer_flag, ifnull(c1.question_flag,0) question_flag
from
table1
left join 
(select distinct user_id, date_trunc(date(a.creation_date),month) month, 1 as comment_flag
from 
comment a) a1
on table1.user_id = a1.user_id and table1.month = a1.month
left join
(select distinct b. owner_user_id, date_trunc(date(b.creation_date),month) month, 1 as answer_flag
from
answer  b) b1
on table1.user_id = b1.owner_user_id and table1.month = b1.month
left join
(select distinct c. owner_user_id, date_trunc(date(c.creation_date),month) month, 1 as question_flag
from
question c) c1
on table1.user_id = c1.owner_user_id and table1.month = c1.month
"""

In [101]:
active_with_type = gbq.read_gbq(query3+query4, project_id=project_id,dialect = "standard")

C:\Users\Mengyu\Anaconda3\lib\site-packages\pandas_gbq\gbq.py:798: FutureWarning: verbose is deprecated and will be removed in a future version. Set logging level in order to vary verbosity
  "verbosity", FutureWarning, stacklevel=1)

In [102]:
active_with_type.head()

  user_id       month  comment_flag  answer_flag  question_flag
0  114916  2009-09-01             0            0              1
1  133584  2010-12-01             0            0              1
2  543514  2010-12-01             0            0              1
3  417899  2011-01-01             0            0              1
4    None  2011-02-01             0            0              0

### 3. Are our active users new user or returning user?

We already know who our active users are and what type of engagements they are, but I want to know the new user percentage of the active users. Here, New/Returning Active: If the users has been created in the same month, then “New”, else “Returning” .

In [ ]:
# We can add some new codes based on what we have from the second question.

In [106]:
# This query is to store the result of the second question
query5 = query3 +\
"""
, table2 as (

select table1.*, ifnull(a1.comment_flag,0) comment_flag , ifnull(b1.answer_flag,0) answer_flag, ifnull(c1.question_flag,0) question_flag
from
table1
left join 
(select distinct user_id, date_trunc(date(a.creation_date),month) month, 1 as comment_flag
from 
comment a) a1
on table1.user_id = a1.user_id and table1.month = a1.month
left join
(select distinct b. owner_user_id, date_trunc(date(b.creation_date),month) month, 1 as answer_flag
from
answer  b) b1
on table1.user_id = b1.owner_user_id and table1.month = b1.month
left join
(select distinct c. owner_user_id, date_trunc(date(c.creation_date),month) month, 1 as question_flag
from
question c) c1
on table1.user_id = c1.owner_user_id and table1.month = c1.month

)
"""

In [107]:
# This query is to get the result of this question
query6 = """
select table2.*, 
case 
when table2.month = date_trunc(date(table3.creation_date ),month)
then "New"
else
"Return"
end new_vs_ret
from table2
left join 
`bigquery-public-data.stackoverflow.users` table3
on
table2.user_id = table3.id
"""

In [110]:
active_with_return = gbq.read_gbq(query5+query6, project_id=project_id,dialect = "standard")

C:\Users\Mengyu\Anaconda3\lib\site-packages\pandas_gbq\gbq.py:798: FutureWarning: verbose is deprecated and will be removed in a future version. Set logging level in order to vary verbosity
  "verbosity", FutureWarning, stacklevel=1)

In [111]:
active_with_return.head()

  user_id       month  comment_flag  answer_flag  question_flag new_vs_ret
0  859154  2013-10-01             0            1              0     Return
1  554203  2017-01-01             0            1              0     Return
2  450399  2011-09-01             0            1              0     Return
3   34088  2010-12-01             0            1              0     Return
4   51428  2009-01-01             0            1              0        New

From active_with_return table, we can easily detect the active status of users in different months. We can know what contribution they make and what status(New/Returning) are they in the specific month. Notice, the number 1 in column xxx_flag does not mean once, but "yes".

## Data Visualisation with Tableau

In [120]:
#let's write the active_with_return table to .hyper file which can be opened by Tableau directly
#we need to use pantab package 
#check https://pypi.python.org/pypi/pantab to learn how to install this package
#However, this package is quite new and you can hardly find resources to debug, and I try many times to make it work!
#!pip install pantab 
import pantab

In [125]:
active_with_return.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 6 columns):
user_id          299 non-null object
month            300 non-null object
comment_flag     300 non-null int64
answer_flag      300 non-null int64
question_flag    300 non-null int64
new_vs_ret       300 non-null object
dtypes: int64(3), object(3)
memory usage: 14.1+ KB

In [222]:
# Don't forget to drop nulls! 
active_with_return.dropna(inplace = True)

In [223]:
#You should convert the user_id from object to integer!
active_with_return.iloc[:,0] = active_with_return.iloc[:,0].astype("int")

In [217]:
#You should also convert month from object to datatime!
active_with_return.iloc[:,1] = pd.to_datetime(active_with_return.iloc[:,1])

In [225]:
#Now you can write your dataframe to hyper file, which you can open with tableau directly. Then have fun with your EDA!
pantab.frame_to_hyper(active_with_return, 'Avtive User Analysis.hyper')

## What Then?
SQL is a good tool for data manipulation and extraction, and once you get the data you need, you can do whatever you want!
<cd>For example, you can run a clustering model to group different users based on their active patterns. 
<cd>You can run a customer churn model to predict which user won't return again.
<cd>You can also do a fancy dashboard to monitor the new users and returning users